{% extends 'main/layout.html' %}
{% block title %}
Обучение
{% endblock %}

{% block content %}
<div class="container">
      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header mb-5">
            <h2>Обучение</h2>
          </div>

            {% if studies %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
              {% for study in studies %}
                  <div class="col">
                      <div class="card h-100">
                          <div class="card-body h-100">
                            <h5 class="card-title">{{ study.title }}</h5>
                            <p class="card-text">{{ study.task }}</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b> Первичное обучение:</b> {{ study.first_price }} RUB.</li>
                              <li class="list-group-item"><b>Повторное обучение:</b> {{ study.secord_price }} RUB.</li>

                          </ul>
                          <div class="card-body text-center">
                            <a href="{% url 'study_detail' %}?id={{ study.id }}" class="card-link btn btn-primary w-100 h-100">Подробнее</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
             </div>
            {% else %}
              <p>Практик не обнаружено</p>
            {% endif %}

            {% if practices %}
            <nav class="vacancies__pages">
                <ul>
                    <li><a href="#">1</a></li>
                 </ul>
             </nav>
             {% endif %}
        </div>

      </div>
</div>
{% endblock %}