{% extends 'main/layout.html' %}
{% block title %}
Резюме
{% endblock %}

{% block content %}
<main>
      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header">
            <h2>Резюме</h2>
          </div>
          <div class="vacancies__container">
            {% if summaries %}
              {% for summary in summaries %}
              <a href="{% url 'summaries_detail' %}?id={{ summary.id }}">
                  <div class="vacancy">
                    <div class="vacancy__title">{{ summary.name }}</div>
                    <div class="vacancy__salary">от {{ summary.salary_min }} до {{ summary.salary_max }}</div>
                    <div class="vacancy__date">{{ summary.date }}</div>
                    <div class="vacancy__logo"><img src="{{summary.image.url}}" alt=""></div>
                  </div>
              </a>
              {% endfor %}
            {% else %}
              <p>Резюме не обнаружено</p>
            {% endif %}
          </div>
          <nav class="vacancies__pages">
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
            </ul>
          </nav>
        </div>
        <div class="slider_index">
          <div class="slider_index__left"></div>
          <div class="slider_index__container">
            <div class="slider_index__element">
              <p>
                Только у нас вы сможете найти работу и при этом получить
                дополнительные сертификаты для более крупных организаций.
                Изучение Английского языка уже доступно на нашей платформе
              </p>
              <img src="https://via.placeholder.com/815x540" alt="" />
            </div>
            <div class="slider_index__element">
              <p>С НАШЕЙ РАБОЧЕЙ ВИЗОЙ, ВЫ СМОЖЕТЕ ОСВОИТЬ ВЕСЬ МИР</p>
              <img src="https://via.placeholder.com/815x540" alt="" />
            </div>
          </div>
          <div class="slider_index__right"></div>
        </div>
      </div>
    </main>

{% endblock %}