{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Резюме
{% endblock %}

{% block content %}
<div class="container">
      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header">
            <h2>Резюме</h2>
          </div>
          <div class="vacancies__container">
            {% if summaries %}
              {% for summary in summaries %}
              <a href="{{ summary.get_absolute_url }}">
                  <div class="vacancy">
                    <div class="vacancy__title">{{ summary.name }}</div>
                    <div class="vacancy__salary">от {{ summary.salary_min }} до {{ summary.salary_max }}</div>
                    <div class="vacancy__date">{{ summary.date }}</div>
                    <div class="vacancy__logo"><img src="{{summary.image.url}}" alt=""></div>
                  </div>
              </a>
              {% endfor %}
            {% else %}
              <p>Резюме не обнаружено</p>
            {% endif %}
          </div>
          {% if page_obj.has_other_pages %}
          <nav class="vacancies__pages">
            <ul>
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}" >&lt;</a></li>
              {% endif %}

              {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                  <li>{{ p }}</li>
                {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
                  <li><a href="?page={{ p }}" >{{ p }}</a></li>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}" >&gt;</a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
        <div class="slider_index">
          <div class="slider_index__container">
            <div class="card bg-dark text-white">
                <img src="{%  static 'main/img/ship1.jpg' %}" class="card-img img-fluid img-thumbnail" alt="...">
                <div class="card-img-overlay">
                <p class="card-text" style="text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;">Только у нас вы сможете найти работу и при этом получить
                дополнительные сертификаты для более крупных организаций.
                Изучение Английского языка уже доступно на нашей платформе</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img src="{%  static 'main/img/ship2.jpg' %}" class="card-img img-fluid img-thumbnail" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title"  style="text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;">С НАШЕЙ РАБОЧЕЙ ВИЗОЙ, ВЫ СМОЖЕТЕ ОСВОИТЬ ВЕСЬ МИР</h5>
                </div>
            </div>

          </div>
        </div>
      </div>
</div>
{% endblock %}