@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

html main,
body main {
  height: 100%;
  padding-bottom: 150px;
}

footer {
  background-color: #f2f2f2;
}

.wrapper {
  padding: 40px;
  height: 100%;
  background-color: #fff;
}

.bg-map {
  position: relative;
  min-height: 100%;
}

.bg-map::after {
  content: "";
  background: url(../../img/map1942.jpg);
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.07;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -10;
}

.top_menu {
  background-color: #2b2d2f;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_menu ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

.top_menu ul li {
  position: relative;
  margin: 0 20px 0 0;
  float: left;
  display: inline-block;
}

.top_menu ul li a {
  font-size: 20px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  padding: 25px;
  display: inline-block;
  color: #cccdce;
  text-decoration: none;
}

.top_menu ul li a:hover {
  color: #fff;
}

.top_menu ul li ul {
  display: none;
  position: absolute;
  z-index: 100000;
  left: 0;
  background: #2b2d2f;
  float: left;
  opacity: 0.97;
}

.top_menu ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.top_menu ul li ul li a {
  width: 100%;
}

.top_menu ul li > a:after {
  content: " »";
}

.top_menu ul li > a:only-child:after {
  content: "";
}

.top_menu ul li:hover ul {
  display: block;
}

.top_menu .top_title {
  font-size: 30px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  padding: 19px;
}

.top_menu .top_title:hover {
  color: #fff;
}

.index_logo {
  display: block;
  width: 100%;
  height: 420px;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.index_logo img {
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: space-around;
}

.login-form input {
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}

.vacancies {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
}

.vacancies__header h2 {
  font-weight: 400;
  font-size: 50px;
  margin-left: 10px;
  color: #3c4255;
}

.vacancies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancies__container a {
  display: block;
  text-decoration: none;
  color: initial;
  width: 100%;
  height: 220px;
  margin: 20px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.vacancies__container a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.vacancies__container .vacancy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 2px solid #707070;
  border-radius: 4px;
  padding: 20px;
}

.vacancies__container .vacancy__title, .vacancies__container .vacancy__salary {
  font-size: 30px;
}

.vacancies__container .vacancy__date {
  font-size: 20px;
}

.vacancies__container .vacancy__logo {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 120px;
  height: 120px;
}

.vacancies__container .vacancy__logo img {
  width: 100%;
}

.vacancies__pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.vacancies__pages ul li {
  display: block;
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: #e2e2e2;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
}

.vacancies__pages ul li a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  background-color: #ccc;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
}

.vacancies__pages ul li a:hover {
  background: #e7e7e7;
}

.vacancies .vacancy__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancies .vacancy__detail .vacancy__text {
  width: 60%;
}

.vacancies .vacancy__detail .vacancy__text div {
  margin: 10px;
}

.vacancies .vacancy__detail .vacancy__text div h3 {
  color: #3c4255;
}

.vacancies .vacancy__detail .vacancy__logo {
  width: 150px;
  height: auto;
  margin-right: 30px;
}

.vacancies .vacancy__detail .vacancy__logo img {
  width: 100%;
  height: auto;
}

.register-choose a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.register-choose a:hover {
  color: #19666b;
}

.register-choose i {
  font-size: 80px;
  margin: 10px;
}

.register-choose span {
  margin: 10px;
  font-size: 18px;
}

.register-choose .card {
  padding: 20px;
}

.registration {
  display: block;
  width: 1000px;
  background: #fff;
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
}

.registration__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__text {
  width: 40%;
  position: relative;
}

.registration__text h1 {
  text-align: center;
}

.registration__text p {
  display: block;
  margin: 10px;
}

.registration__text button {
  position: absolute;
  padding: 10px;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.registration__fields {
  width: 60%;
}

.registration__fields .registration__field {
  display: block;
  margin: 10px auto;
  width: 200px;
}

.registration__fields .registration__field input {
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 5px;
}

.documents__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.documents__container a {
  width: 300px;
}

.documents__container a .document {
  width: 100%;
}

.documents__container a .document img {
  width: 100%;
  height: auto;
}

.documents__detail {
  width: 100%;
  margin: 10px 0;
}

.documents__detail a {
  margin: 0 10px;
  border: 1px solid #ccc;
  display: block;
  width: 300px;
}

.documents__detail a img {
  width: 100%;
  height: auto;
}

.blanks__container a {
  display: inline-block;
  color: #3c4255;
  text-decoration: none;
  margin: 5px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blanks__container a:hover {
  text-decoration: underline;
  color: #121419;
}

.respond-button {
  margin: 10px;
  display: block;
  width: 100%;
}

.respond-button button {
  background-color: #164c7a;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.respond-button button:hover {
  background-color: #2682d0;
}

/* SLIDER */
.slider_index {
  width: 100%;
  padding: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_index__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider_index__element {
  position: relative;
  width: 420px;
  height: 350px;
}

.slider_index__element p {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 400px;
  font-size: 17px;
  color: #fff;
}

.slider_index__element img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */