{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<main>
      <div class="index_logo">
        <img src="{%  static 'main/img/mainlogo.jpg' %}" alt="">
      </div>

      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header">
            <h2>Вакансии</h2>
          </div>
          {% if vacancies %}
           <div class="vacancies__container">
              {% for vacancy in vacancies %}
               <a href="{{ vacancy.get_absolute_url }}">
                <div class="vacancy">
                  <div class="vacancy__title">{{ vacancy.title }}</div>
                  <div class="vacancy__salary">{{ vacancy.salary }}</div>
                  <div class="vacancy__date">{{ vacancy.date_start }} - {{ vacancy.date_end }}</div>
                  <div class="vacancy__logo"><img src="{{vacancy.image.url}}" alt=""></div>
                </div>
               </a>

              {% endfor %}
              </div>
            {% else %}
              <p>Вакансий не обнаружено</p>
            {% endif %}
          <nav class="vacancies__pages">
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
            </ul>
          </nav>
        </div>
        <div class="slider_index">
          <div class="slider_index__container">
            <div class="card bg-dark text-white">
                <img src="https://via.placeholder.com/300x300" class="card-img" alt="...">
                <div class="card-img-overlay">
                <p class="card-text">Только у нас вы сможете найти работу и при этом получить
                дополнительные сертификаты для более крупных организаций.
                Изучение Английского языка уже доступно на нашей платформе</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img src="https://via.placeholder.com/300x300" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">С НАШЕЙ РАБОЧЕЙ ВИЗОЙ, ВЫ СМОЖЕТЕ ОСВОИТЬ ВЕСЬ МИР</h5>
                </div>
            </div>

          </div>
        </div>
      </div>
    </main>

{% endblock %}