{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}

      <div class="index_logo">
        <img src="{%  static 'main/img/mainlogo.jpg' %}" alt="">
      </div>
<div class="container">
      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header">
            <h2>Вакансии</h2>
          </div>
          <div class="vacancies__container">
            {% if vacancies %}
              {% for vacancy in vacancies %}
             <a href="{{ vacancy.get_absolute_url }}">
                <div class="vacancy">
                  <div class="vacancy__title">{{ vacancy.title }}</div>
                  <div class="vacancy__salary">{{ vacancy.salary }}</div>
                  <div class="vacancy__date">Дата посадки {{ vacancy.date_start }}</div>
                  <div class="vacancy__logo"><img class="rounded img-fluid" src="{{vacancy.image.url}}" alt=""></div>
                </div>
             </a>
              {% endfor %}

            {% else %}
              <p>Вакансий не обнаружено</p>
            {% endif %}
          </div>
            <a href="{% url 'vacancies_home' %}" class="btn btn-link">Все вакансии</a>
        </div>
      <div class="vacancies mt-3">
          <div class="vacancies__header">
            <h2>Резюме</h2>
          </div>

          <div class="vacancies__container">
            {% if summaries %}
              {% for summary in summaries %}
              <a href="{{ summary.get_absolute_url }}">
                  <div class="vacancy">
                    <div class="vacancy__title">{{ summary.name }}</div>
                    <div class="vacancy__salary">от {{ summary.salary_min }} до {{ summary.salary_max }}</div>
                    <div class="vacancy__date">{{ summary.date }}</div>
                    <div class="vacancy__logo"><img src="{{summary.image.url}}" alt=""></div>
                  </div>
              </a>
              {% endfor %}
            {% else %}
              <p>Резюме не обнаружено</p>
            {% endif %}
          </div>
          <a href="{% url 'summaries_home' %}" class="btn btn-link">Все резюме</a>
        </div>
        <div class="slider_index">
          <div class="slider_index__container">
            <div class="card bg-dark text-white">
                <img src="https://via.placeholder.com/300x300" class="card-img" alt="...">
                <div class="card-img-overlay">
                <p class="card-text">Только у нас вы сможете найти работу и при этом получить
                дополнительные сертификаты для более крупных организаций.
                Изучение Английского языка уже доступно на нашей платформе</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img src="https://via.placeholder.com/300x300" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">С НАШЕЙ РАБОЧЕЙ ВИЗОЙ, ВЫ СМОЖЕТЕ ОСВОИТЬ ВЕСЬ МИР</h5>
                </div>
            </div>

          </div>
        </div>
      </div>
</div>

{% endblock %}