{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'main/style/css/style.css' %}">
    <title>{% block title %}
    {% endblock %}</title>
  </head>
  <body>
  <div class="bg-map">
    <header class="p-1 bg-dark text-white">
      <div class="container">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-md-center">
          <div class="d-flex flex-wrap">
            <a href="{% url 'home' %}" class="navbar-brand h5 d-flex align-items-center mb-2 mb-lg-0 mx-4 text-white text-decoration-none"> <b>Seaman service</b></a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Услуги</a>
                  <ul class="dropdown-menu dropdown-menu-dark border-0 pt-0 mx-0 mt-2 rounded-3 shadow overflow-hidden" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'vacancies_home' %}">Вакансии</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'summaries_home' %}">Резюме</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'education_home' %}">Образовательная деятельность</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'in_develop' %}">Английский для моряков</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'in_develop' %}">Рассылка CV</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'in_develop' %}">Морские документы</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-3 py-3" href="{% url 'in_develop' %}">Дельта тест</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'company_home' %}">Для компании</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'seaman_home' %}">Консультация по морским документам</a></li>
                {% if request.user.is_authenticated %}
                  {% if request.user.is_staff %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">{{ request.user.get_full_name}}</a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'personal_account_home' %}">{{ request.user.get_full_name}}</a></li>
                  {% endif %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Авторизация</a></li>
                {% endif %}
              </ul>
            </div>
          <div>
        </nav>
      </div>
    </header>
<main>
    {% block content %}



    {% endblock %}
</main>
    <footer class="footer py-3" style="position: absolute; bottom: 0; width: 100%">
      <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'vacancies_home' %}" class="nav-link px-2 text-muted">Вакансии</a></li>
          <li class="nav-item"><a href="{% url 'summaries_home' %}" class="nav-link px-2 text-muted">Резюме</a></li>
          <li class="nav-item"><a href="{% url 'in_develop' %}" class="nav-link px-2 text-muted">Английский для моряков</a></li>
          <li class="nav-item"><a href="{% url 'company_home' %}" class="nav-link px-2 text-muted">Для компании</a></li>
          <li class="nav-item"><a href="{% url 'seaman_home' %}" class="nav-link px-2 text-muted">Консультация по морским документам</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Seaman service</p>
      </div>
    </footer>
      </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
