{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Для компании
{% endblock %}

{% block content %}
<div class="container">
      <div class="wrapper">
          <div class="vacancies__header">
            <h2>Для компании</h2>
          </div>

          <div class="row my-5">
              <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Бесплатно</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/мес</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>На сайте Crewservices Вы можете размещать вакансии без ограничений совершенно бесплатно.</li>
                          <li>Доступно 23 768 резюме.</li>
                            <br>
                            <br>
                            <br>
                        </ul>
                          <a href="{% url 'register' %}" class="w-100 btn btn-lg btn-outline-primary">Зарегистрироваться</a>
                      </div>
                    </div>
              </div>

              <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                  <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Расширенная база резюме</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Услуга расширенного доступа позволяет получить отдельный доступ ко всей базе резюме и открыть контакты всех резюме для связи с моряками по email, телефону или через внутренний чат на сайте.</li>
                      <li>На странице расширенной базы резюме подключены дополнительные фильтры для удобного и точного подбора персонала.</li>
                      <li>В расширенной базе 50 858 резюме.</li>

                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
                  </div>
                </div>
              </div>
          </div>

      </div>
</div>

{% endblock %}