{% extends 'main/layout.html' %}
{% block title %}
Вакансия
{% endblock %}

{% block content %}
<div class="container">
      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header">
            <h2>{{ vacancy.title }}</h2>
          </div>

          <div class="vacancy__detail">
            <div class="vacancy__text">
            <div><h3>Компания: </h3> {{ vacancy.company }}</div>
            <div><h3>Зарплата: </h3> {{ vacancy.salary }}</div>
            <div><h3>Тип судна: </h3> {{ vacancy.vessel_type }}</div>
            <div><h3>Дата посадки: </h3> {{ vacancy.date_start }}</div>
            <div><h3>Место посадки: </h3> {{ vacancy.landing }}</div>
            <div><h3>Срок контракта: </h3> {{ vacancy.contract_term }}</div>

            </div>

             <div class="vacancy__logo">
               <img src="{{vacancy.image.url}}" alt="">
             </div>
          </div>
          <div class="respond-button">
            <button>Откликнуться</button>
          </div>

        </div>
        <div class="slider_index">
                    <div class="slider_index__container">
            <div class="card bg-dark text-white">
                <img src="https://via.placeholder.com/300x300" class="card-img" alt="...">
                <div class="card-img-overlay">
                <p class="card-text">Только у нас вы сможете найти работу и при этом получить
                дополнительные сертификаты для более крупных организаций.
                Изучение Английского языка уже доступно на нашей платформе</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img src="https://via.placeholder.com/300x300" class="card-img" alt="...">
                <div class="card-img-overlay">
                <h5 class="card-title">С НАШЕЙ РАБОЧЕЙ ВИЗОЙ, ВЫ СМОЖЕТЕ ОСВОИТЬ ВЕСЬ МИР</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}