{% extends 'main/layout.html' %}
{% block title %}
Вакансии
{% endblock %}

{% block content %}
<main>

      <div class="wrapper">
        <div class="vacancies">
          <div class="vacancies__header">
            <h2>Вакансии</h2>
          </div>
          <div class="vacancies__container">
            {% if vacancies %}
              {% for vacancy in vacancies %}
             <a href="{{ vacancy.get_absolute_url }}">
                <div class="vacancy">
                  <div class="vacancy__title">{{ vacancy.title }}</div>
                  <div class="vacancy__salary">{{ vacancy.salary }}</div>
                  <div class="vacancy__date">Дата посадки {{ vacancy.date_start }}</div>
                  <div class="vacancy__logo"><img class="rounded img-fluid" src="{{vacancy.image.url}}" alt=""></div>
                </div>
             </a>
              {% endfor %}
            {% else %}
              <p>Вакансий не обнаружено</p>
            {% endif %}
          </div>
          {% if page_obj.has_other_pages %}
          <nav class="vacancies__pages">
            <ul>
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}" >&lt;</a></li>
              {% endif %}

              {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                  <li>{{ p }}</li>
                {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
                  <li><a href="?page={{ p }}" >{{ p }}</a></li>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}" >&gt;</a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
        <div class="slider_index">
          <div class="slider_index__left"></div>
          <div class="slider_index__container">
            <div class="slider_index__element">
              <p>
                Только у нас вы сможете найти работу и при этом получить
                дополнительные сертификаты для более крупных организаций.
                Изучение Английского языка уже доступно на нашей платформе
              </p>
              <img src="https://via.placeholder.com/815x540" alt="" />
            </div>
            <div class="slider_index__element">
              <p>С НАШЕЙ РАБОЧЕЙ ВИЗОЙ, ВЫ СМОЖЕТЕ ОСВОИТЬ ВЕСЬ МИР</p>
              <img src="https://via.placeholder.com/815x540" alt="" />
            </div>
          </div>
          <div class="slider_index__right"></div>
        </div>
      </div>
    </main>

{% endblock %}