{% extends 'main/layout.html' %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<div class="container">
      <div class="wrapper">
          <div class="vacancies__header">
            <h2>Личный кабинет</h2>
          </div>


                <div class="row mb-5">
                    <div class="col-8">
                      <div class="row my-4">
                            <div class="col-12">
                                <h5>Компания</h5>
                                {{ profile.company_name }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <h5>ФИО для контакта</h5>
                                {{ request.user.get_full_name}} {{ profile.contact_patronymic }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <h5>Адрес</h5>
                                {{ profile.address }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-6">
                                <h5>
                                    Номер телефона
                                </h5>
                                {{ profile.phone_number }}
                            </div>
                            <div class="col-6">
                                <h5>
                                    Почта
                                </h5>
                                {{ request.user.email }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <h5>О компании</h5>
                                {{ profile.about }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="{% url 'edit_company' %}" class="btn btn-info text-white">Редактировать профиль</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'vacancies_add' %}" class="btn btn-outline-primary">Добавить вакансию</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 my-4">
                        <img src="{{ profile.logo.url }}" class="rounded mx-auto d-block img-fluid" alt="company logo">
                    </div>
                </div>
                <div class="row my-6">
                    <div class="col-12 my-6">
                        <h5>
                            Вакансии
                        </h5>

                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Должность</th>
                                    <th scope="col">Зарплата</th>
                                    <th scope="col">Отклики</th>
                                    <th scope="col" class="text-center">Действия</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for vacancy in vacancies %}
                               <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{{ vacancy.get_absolute_url }}">{{ vacancy.title }}</a></td>
                                    <td>{{ vacancy.salary }}</td>
                                    <td><a href="{% url 'vacancies_responses' vacancy.id %}">{{ vacancy.responses_count }}</a></td>
                                   <td class="text-center">
                                       <a href="#" alt="Удалить" class="link-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-objectid="{{vacancy.id}}"><i class="fas fa-trash-alt"></i></a>
                                       <a href="{% url 'vacancies_edit' vacancy.id %}" alt="Изменить" class="link-primary"><i class="fas fa-edit"></i></a>
                                   </td>
                                </tr>
                          {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

      </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Подтверждение</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить вакансию?
      </div>
      <div class="modal-footer">
         <a href="#" alt="Удалить" class="btn btn-primary" id="modal-link">Удалить</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<script>
    var deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var objectid = button.getAttribute('data-bs-objectid')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.

  var modalLink = document.getElementById('modal-link')
  modalLink.href="/vacancies/delete/" + objectid + "/"
})
</script>
{% endblock %}