{% extends 'main/layout.html' %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<div class="container">
      <div class="wrapper">
          <div class="vacancies__header">
            <h2>Редактирование профиля</h2>
          </div>


                <div class="row mb-5">
                    <div class="col-8">
                      <div class="row my-4">
                            <div class="col-12">
                                <h5>Компания</h5>
                                {{ profile.company_name }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <h5>ФИО для контакта</h5>
                                {{ request.user.get_full_name}} {{ profile.contact_patronymic }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <h5>Адрес</h5>
                                {{ profile.address }}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-6">
                                <h5>
                                    Номер телефона
                                </h5>
                                {{ profile.phone_number }}
                            </div>
                            <div class="col-6">
                                <h5>
                                    Почта
                                </h5>
                                {{ request.user.email }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="#" class="btn btn-success text-white">Сохранить</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 my-4">
                        <img src="{{ profile.logo.url }}" class="rounded mx-auto d-block img-fluid" alt="company logo">
                    </div>
                </div>

      </div>
</div>
{% endblock %}